.GameFixture {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    height: 7.5rem;
    margin-bottom: 2rem;
    .game-fixture-team-color-block {
        width: 0.7rem;
        height: 100%;
        background-color: #5CBEE5;
    }
    .game-fixture-time-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0.5rem;
        .game-fixture-day {
            display: flex;
            flex-direction: column;
            :nth-child(1) {
                font-weight: 600;
            }
        }
        .game-fixture-time {
            display: flex;
            flex-direction: column;
        } 
    }
    .game-fixture-playing {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        justify-content: center;

    
        :nth-child(1) {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .game-fixture-sport {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 0.5rem;
        .game-fixture-sport-container {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            img {
                width: 40px;
            }
        }
        
        span {
            margin-left: auto;
        }
    }
  
}