#SportTile {
  height: 100vh;
  width: 100vw;
  .sport-tile-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    img {
      max-height: 100%;
      width: 30%;
    }
  }
}
