.GameDate {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background-color: white;
    margin: 0 1rem;
    padding: 0 0.5rem;
    line-height: 3rem;
    border-top: solid 2rem #F0F0F0;

}
