$japan-pink: #E09DA6;
$japan-green: #4F817F;
$japan-yellow: #F2C59E;
$japan-brown: #6E4E53;
$japan-orange: #EB6E52;
$japan-purple: #552151;
$japan-off-white: #FFE9CB;
$japan-blue: #76C6FB;
$japan-plurple: #984363;

$rugbya: #54c8e8;
$rugbyb: #f4436c;
$rugbyc: #2ed9c3;
$rugbyd: #993dbb;

.Pools {
    border-top: 2rem #F0F0F0 solid;
    border-left: 1rem #F0F0F0 solid;
    border-right: 1rem #F0F0F0 solid;
    background-color: white;
    ul {
        list-style-type: none;
    }
    #pool-a-picker {
        color:  $rugbya;
    }
    #pool-a-picker-active {
        background-color: $rugbya;
        color: white;
    }
    #pool-b-picker {
        color:  $rugbyb;
    }
    #pool-b-picker-active {
        background-color: $rugbyb;
        color: white;
    }
    
    #pool-c-picker {
        color:  $rugbyc;
    }
    #pool-c-picker-active {
        background-color: $rugbyc;
        color: white;
    }
    #pool-d-picker {
        color: $rugbyd;
    }
    #pool-d-picker-active {
        background-color: $rugbyd;
        color: white;
    }
    .pool-picker {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 1rem;

        li {
            cursor: pointer;
            font-size: 1.7rem;
            padding: 1rem 2rem;
            text-align: center;
            border-radius: 4px;
            margin-right: 0.5rem;
            box-shadow: 1px 3px 9px rgba(34,34,34,.15);
        }
    }
    .pool-container {
        margin: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        ul {
            .pool-country-container {
                line-height: 20px;
                // margin: 0.5rem 35%;
                padding: 1rem 0;
                margin-bottom: 1rem;
                cursor: pointer;
    
                .pool-country-icons {
                    height: 30px;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
            }

        }

      

      
       
    }
    @media screen and (min-width: 768px) {
        .pool-picker {
            li {
                font-size: 2rem;
            }
        }
        .pool-container {
            .pool-country-container {
                font-size: 2rem;
            }
        }

    }

    @media screen and (min-width: 1024px) {
        border-left: 15rem #F0F0F0 solid;
        border-top: 5rem #F0F0F0 solid;
        border-right: 15rem #F0F0F0 solid;
        min-height: 50rem;
        border-bottom: 5rem #F0F0F0 solid;
        .pool-picker {
            margin-top: 2rem;
            li {
                font-size: 2rem;
                padding: 1rem 4rem;

            }
        }
        .pool-container {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                margin-top: 5rem;
                .pool-country-container {
                    font-size: 2rem;
                    .pool-country-icons {
                        height: 50px;
                        margin-right: 1rem;
                        
                    }

                }
               
            }
        }
    }

 
   
}