html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: auto;
    height: 100%;
  }
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
body {
    font-size: 1.6rem;
    height: 100%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
  }
